﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pymes Basic</title>

    <link href="@Url.Content("~/Content/themes/chain/css/chain.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/chain/css/sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/chain/css/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/Content/themes/chain/css/main.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/themes/chain/js/library/jquery.js"></script>
    <script src="~/Content/themes/chain/js/library/jquery.migrate.js"></script>
    <script src="~/Content/themes/chain/js/library/bootstrap.min.js"></script>
    <script src="~/Content/themes/chain/js/library/modernizer.js"></script>
    <script src="~/Content/themes/chain/js/library/pace.min.js"></script>
    <script src="~/Content/themes/chain/js/library/retina.js"></script>
    <script src="~/Content/themes/chain/js/library/jquery.cookies.js"></script>
    <script src="~/Content/themes/chain/js/library/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/themes/chain/js/library/custom.js"></script>
    <script src="~/Content/themes/chain/js/library/jquery.maskedinput.min.js"></script>

    <script src="~/Scripts/app/funciones.js"></script>
    <script src="~/Content/themes/chain/js/library/print.js"></script>
    <script src="~/Content/themes/chain/js/library/bootstrap-editable/bootstrap-editable.min.js"></script>
    <script src="~/Content/themes/chain/js/library/mask-money/jquery.maskMoney.min.js"></script>
    <script src="~/Scripts/app/menu.js"></script>
</head>
<body>
    @Html.Partial("_Header")

    <section>
        <div class="mainwrapper">
            <div class="leftpanel">
                <div class="media profile-left">
                    <a class="pull-left profile-thumb" href="#">
                        <img class="img-circle" src="/Images/user/user.png" alt="" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@HttpContext.Current.Session["nombre_usuario"]</h4>
                        <small class="text-muted">@(HttpContext.Current.Session["tipo_user"].ToString() == "A" ? "Administrador": "Usuario")</small>
                    </div>
                </div><!-- media -->
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="/Home"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
                    
                    @{
                        var menu = "  <li><a href='/Venta'><i class='fa fa-shopping-cart'></i> <span>Ventas</span></a></li><li><a href='/Compra'><i class='fa fa-truck'></i> <span>Compras</span></a></li>";
                    }

                    @if (Request.Browser["IsMobileDevice"] == "true")
                    {
                        menu = "";
                    }
                    
                    @Html.Raw(menu)
                  
                    <li><a href="/Inventario"><i class="fa fa-recycle"></i> <span>Inventarios</span></a></li>
                    <li><a href="/Reporte"><i class="fa fa-file-pdf-o"></i> <span>Reportes</span></a></li>

                    
                        @if (HttpContext.Current.Session["tipo_user"] != "U")
                        {
                           <li><a href='/Usuario'><i class='fa fa-users'></i> <span>Usuarios</span></a></li>
                        }
                    <li><a href="#" id="chat-trust"><i class="fa fa-wechat"></i> <span>Chat</span></a></li>
                    
                </ul>

            </div><!-- leftpanel -->

            @RenderBody()

          
        </div>
    </section>

    <div class="chat-trust">
        <div class="col-md-3">
            <div class="box-chat">
                <!-- DIRECT CHAT PRIMARY -->
                <div class="box box-success direct-chat direct-chat-success fadeout" id="chat-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Escribenos : Trust.pe</h3>

                        <div class="box-tools pull-right">
                            <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="3 New Messages">3</span>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                                <i class="fa fa-comments"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove" id="close-chat"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                            <!-- Message. Default to the left -->
                            <div class="direct-chat-msg">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-left">Josue Diaz</span>
                                    <span class="direct-chat-timestamp pull-right">23 Jun 2:00 pm</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="http://bootdey.com/img/Content/user_1.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    Buenas noches en que podemos ayudarlo?
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->
                            <!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Sara Ramirez</span>
                                    <span class="direct-chat-timestamp pull-left">23 Jun 2:05 pm</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="http://bootdey.com/img/Content/user_2.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    Tengo una consulta
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->
                        </div>
                        <!--/.direct-chat-messages-->
                        <!-- Contacts are loaded here -->
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="http://bootdey.com/img/Content/user_1.jpg">

                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                                Count Dracula
                                                <small class="contacts-list-date pull-right">2/28/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">How have you been? I was...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                            </ul>
                            <!-- /.contatcts-list -->
                        </div>
                        <!-- /.direct-chat-pane -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="Mensaje ..." class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success btn-flat">Enviar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!--/.direct-chat -->
            </div>
        </div>
    </div>


    




</body>
</html>