﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="@Url.Content("~/Content/themes/chain/css/chain.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/chain/css/sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/themes/chain/js/library/jquery.js"></script>
    <script src="~/Content/themes/chain/js/library/jquery.migrate.js"></script>
    <script src="~/Content/themes/chain/js/library/bootstrap.min.js"></script>
    <script src="~/Content/themes/chain/js/library/modernizer.js"></script>
    <script src="~/Content/themes/chain/js/library/pace.min.js"></script>
    <script src="~/Content/themes/chain/js/library/retina.js"></script>
    <script src="~/Content/themes/chain/js/library/jquery.cookies.js"></script>
    <script src="~/Content/themes/chain/js/library/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/themes/chain/js/library/custom.js"></script>
    <script src="~/Content/themes/chain/js/library/jquery.maskedinput.min.js"></script>

    <script src="~/Scripts/app/funciones.js"></script>
    <script src="~/Scripts/app/login.js"></script>
</head>
<body class="signin">

    @RenderBody()


</body>
</html>