﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reportes</title>

    <link href="~/Content/themes/chain/css/reportes.css" rel="stylesheet" />
    <script src="~/Content/themes/chain/js/library/jquery.js"></script>

</head>
<body>
    @RenderBody()
</body>
</html>
