﻿@{ViewBag.Title = "Home";}

<div class="mainpanel">

    <div class="contentpanel inicio">

        <div class="row">

            <div class="col-md-12" style="text-align:center">
                <h2>Bienvenidos</h2>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12" style="font-size:1.2em">
                <h4>Estimado Cliente:</h4>
                <p>
                    En esta aplicación usted encontrara una moderna aplicación de acuerdo a su necesidad y presupuesto
                </p>
                <img src="/Images/Img_02.jpg" class="img-thumbnail" style="float:right" />
                <p>
                    Este módulo ha sido pensado para brindarle facilidad para ingresar su información
                    siguiendo altos estándares de seguridad de acceso y poniendo al alcance de sus manos
                    los requerimientos de transportabilidad y conectividad que su empresa necesita,
                    contribuyendo de esta manera a mejorar sus estándares de productividad, minimizar
                    sus costos y maximizar su rentabilidad.

                </p>
                <p>
                    Además, gozara de los siguientes beneficios:

                </p>
                <ul>
                    <li>
                        Actualizaciones gratuitas de las últimas novedades y cambios que se generen en
                        la aplicación.
                    </li>
                    <li>Asesoría gratuita virtual sobre gestión empresarial y nuevos productos.</li>
                    <li>Soporte técnico las 24 horas del día los 365 días del año.</li>
                    <li>Y próximamente Chat On Line.</li>
                    <li>Escribanos a <span style="color:#1f63c1;font-weight:bold">comercial@trust.pe</span></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <h4 style="color:red">Gracias por elegir  este producto</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                &nbsp;
            </div>
            <div class="col-md-3">
                <div class="row" style="text-align:center">
                    Utilice esta plantilla para parametrizar  sus productos
                </div>
                <div class="row" style="text-align:center">
                    <img src="/Images/Excel.jpg" width="70" />
                </div>
                <div class="row" style="text-align:center">
                    <a href="/Content/empresas.xlsx"><img src="/Images/descarga.png" width="140" /></a>
                </div>
            </div>

        </div>
    </div>
</div>
