﻿@model MVC.Models.TipoDocModel


@{ViewBag.Title = "Ventas";}

<div class="mainpanel">
    <div class="pageheader">
        <div class="media pull-left">
            <div class="pageicon pull-left">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li>Registro de </li>
                </ul>
                <h4>Ventas</h4>
            </div>
        </div>
        <!-- media -->

        <div class="pull-right">
            <label class="label lbl-empresa">Empresa : <span>@HttpContext.Current.Session["empresa"]</span></label>
        </div>
    </div><!-- pageheader -->

    <div class="contentpanel">

        <div class="panel panel-default panel-form">

            <div class="panel-body">

                <div class="col-md-5 border-left-form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Fecha</label>

                                <input type="text" name="fecha" class="form-control input-sm" id="fecha" placeholder="dd-mm-YYYY" />

                            </div><!-- form-group -->
                        </div>

                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="control-label">Ruc / Dni </label>
                                <input type="text" name="ruc" id="ruc" class="form-control input-sm mb15 numero" maxlength="11" />
                            </div><!-- form-group -->

                        </div>

                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="control-label">Cliente </label>
                                <input type="text" name="cliente" id="cliente" class="form-control input-sm mb15" />
                            </div><!-- form-group -->

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Documento</label>

                                @Html.DropDownListFor(model => model.Codigo,
                                        new SelectList(ViewBag.tipoDoc, "Codigo", "Descripcion"), ":: Seleccione ::",
                                                 new { @class = "form-control input-sm", id = "documento" })
                            </div><!-- form-group -->
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Serie</label>
                                <input type="text" name="serie" id="serie" class="form-control input-sm mb15 numero" maxlength="4" />
                            </div><!-- form-group -->
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Número</label>
                                <input type="text" name="numero" id="numero" class="form-control input-sm mb15 numero" maxlength="10" />
                            </div><!-- form-group -->
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group">
                                <label class="control-label">Producto</label>
                                <input type="text" name="producto" id="producto" class="form-control input-sm mb15" />
                            </div><!-- form-group -->

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12">

                            <div class="content-table">

                                <div class="table-responsive">
                                    <table class="table table-striped table-gris table-bordered mb30">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Unidad</th>
                                                <th>Marca</th>
                                                <th>Precio</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tb_producto"></tbody>
                                    </table>
                                </div>
                                <!-- table-responsive -->


                            </div>

                        </div>

                    </div>
                </div>


                <div class="col-md-7">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="content-table-2">
                                <div class="table-responsive">
                                    <table class="table table-center table-gris table-bordered table-striped mb30">
                                        <thead>
                                            <tr>
                                                <th>Prod.</th>
                                                <th>Unid.</th>
                                                <th>Marca</th>
                                                <th>Prec.</th>
                                                <th>Cant.</th>
                                                <th>Total S/.</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tb_producto_venta"></tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- table-responsive -->

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 right">

                            <label class="control-label label-total">Cantidad productos </label>
                            <label class="label label-default label-total2" id="tot-prod">0</label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 right">
                            <label class="control-label label-total">Total </label>
                            <label class="label label-default label-total2" id="tot-venta">S/. 00.00</label>
                        </div>

                    </div>

                </div>

            </div><!-- panel-body -->

            <div class="panel-footer">
                <button class="btn btn-primary" id="btn-registrar" type="button"><i class="glyphicon glyphicon-floppy-disk"></i> Grabar</button>
            </div><!-- panel-footer -->

        </div><!-- panel -->

    </div>
</div>


<div id="reporte-ticket" style="display:none">
    <table width="80" border="0" style="font-size:12px;font-family:Arial">
        <tr>
            <td colspan="3" align="center" style="font-size:18px;">@HttpContext.Current.Session["empresa"]</td>
        </tr>
        <tr>
            <td colspan="3" align="center" style="font-size:18px;">RUC : @HttpContext.Current.Session["ruc"]</td>
        </tr>
        <tr>
            <td colspan="3" align="center">@HttpContext.Current.Session["dir_empresa"] </td>
        </tr>

        <tr>
            <td colspan="3" align="center" style="font-size:15px;" id="lbl-documento"></td>
        </tr>
        <tr>
            <td colspan="3" align="center" style="font-size:15px;" id="lbl-fecha"></td>
        </tr>

        <tr>
            <td colspan="3" id="lbl-cliente"></td>
        </tr>

        <tr>
            <td colspan="3" id="lbl-ruc"></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <table border="0" class="productos" style="font-size:12px;font-family:Arial">
                    <thead>
                        <tr>
                            <td>ITEM</td>
                            <td>PRODUCTO</td>
                            <td>CANT</td>
                            <td>P.UNI</td>
                            <td>TOTAL</td>
                        </tr>
                    </thead>

                    <tbody id="tb_detalle_ticket"></tbody>
                 

                </table>
            </td>
        </tr>
    
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td align="right" style="font-size:14px;" id="lbl-total-detalle"> </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" align="center">Cajero : @HttpContext.Current.Session["nombre_usuario"]</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td colspan="3" align="center">GRACIAS POR SU COMPRA</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>

<script src="/Scripts/app/ventas.js"></script>

