﻿
@model MVC.Models.GrupoProdModel

@{ViewBag.Title = "Inventario";}

<div class="modal fade" id="mProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo producto</h4>
            </div>
            <div class="modal-body panel-form">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Grupo</label>

                            @Html.DropDownListFor(model => model.Codigo,
                                        new SelectList(ViewBag.grupoProd, "Codigo", "Descripcion"), ":: Seleccione ::",
                                                 new { @class = "form-control input-sm", id = "grupo" })
                        </div>
                        <!-- form-group -->
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Sub grupo</label>

                            <select class="form-control input-sm" id="sub_grupo"></select>
                        </div>
                        <!-- form-group -->
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Producto</label>

                            <input type="text" id="descripcion" class="form-control input-sm" />
                        </div>
                        <!-- form-group -->
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Unidad</label>

                            @Html.DropDownListFor(model => model.Codigo,
                                        new SelectList(ViewBag.unidad, "Codigo", "Descripcion"), ":: Seleccione ::",
                                                 new { @class = "form-control input-sm", id = "unidad" })
                        </div>
                        <!-- form-group -->
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Marca</label>

                            <input type="text" name="marca" class="form-control input-sm" id="marca" />
                        </div>
                        <!-- form-group -->
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">P. Costo</label>

                            <input type="text" name="costo" id="costo" class="form-control input-sm money " />
                        </div>
                        <!-- form-group -->
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">P. Venta</label>

                            <input type="text" name="venta" id="venta" class="form-control input-sm money" />
                        </div>
                        <!-- form-group -->
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Stock inicial</label>

                            <input type="text" name="stock" id="stock" class="form-control input-sm" />
                        </div>
                        <!-- form-group -->
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn-registrar">Registrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Iniciar sesión</h4>
            </div>
            <div class="modal-body panel-form">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="dni" class="form-control" placeholder="Dni" />
                        </div><!-- input-group -->

                        <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="pass" placeholder="Clave" class="form-control" maxlength="12" type="password" />
                        </div><!-- input-group -->

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn-login">Loguear</button>
            </div>
        </div>
    </div>
</div>

<div class="mainpanel">
    <div class="pageheader">
        <div class="media pull-left">
            <div class="pageicon pull-left">
                <i class="fa fa-recycle"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li>Registro de </li>
                </ul>
                <h4>Inventarios</h4>
            </div>

        </div>

        <div class="pull-right">
            <label class="label lbl-empresa">Empresa : <span>@HttpContext.Current.Session["empresa"]</span></label>
        </div>
        <!-- media -->
    </div>
    <!-- pageheader -->

    <div class="contentpanel">

        <div class="panel panel-default panel-form">

            <div class="panel-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 mb15">

                                <div class="form-inline">

                                    <div class="form-group">
                                        <label class="control-label">Producto</label>
                                        <input type="text" name="producto" id="producto" class="form-control input-sm" />
                                        <input type="hidden" id="tipo_user" value="@HttpContext.Current.Session["tipo_user"]" />
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mProducto"><i class="fa fa-plus"></i> Nuevo producto</button>
                                    </div>

                                </div>



                            </div>

                        </div>



                    </div>



                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="content-table-2">
                            <div class="table-responsive">
                                <table class="table table-center table-gris table-bordered table-striped mb30">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Unidad</th>
                                            <th>Marca</th>
                                            <th>Costo S/.</th>
                                            <th>Venta S/.</th>
                                            <th>Stock</th>
                                            <th>Margen %</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb_producto"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- table-responsive -->

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<script src="/Scripts/app/inventarios.js"></script>


