﻿@{ViewBag.Title = "Reporte";}

<div class="mainpanel">
    <div class="pageheader">
        <div class="media pull-left">
            <div class="pageicon pull-left">
                <i class="fa fa-file-pdf-o"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li>Reporte</li>
                </ul>
                <h4>Ventas y Compras</h4>
            </div>
        </div>
        <div class="pull-right">
            <label class="label lbl-empresa">Empresa : <span>@HttpContext.Current.Session["empresa"]</span></label>
        </div>
        <!-- media -->
    </div>
    <!-- pageheader -->

    <div class="contentpanel">
        <div class="panel panel-default panel-form">

            <div class="panel-body">
                <div class="col-md-6 border-left-form">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Tipo</label>
                            <select class="form-control input-sm" id="tipo">
                                <option value="2">Ventas</option>
                                <option value="1">Compras</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label">Fecha de:</label>
                            <input type="text" id="fecha-ini" class="form-control input-sm fecha" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Fecha hasta:</label>
                            <input type="text" id="fecha-fin" class="form-control input-sm fecha" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Dni / Ruc</label>
                            <input type="text" id="ruc" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary" id="btn-buscar" type="button">Mostrar</button>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="table-responsive">
                                <table class="table table-striped table-gris table-bordered mb30">
                                    <thead>
                                        <tr>
                                            <th>Doc.</th>
                                            <th>Dni / Ruc</th>
                                            <th>Cliente</th>
                                            <th>Total S/.</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody id="tb_cabecera"></tbody>
                                </table>
                            </div>
                            <!-- table-responsive -->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 right">
                            <label class="control-label label-total">Total S/.</label>
                            <label id="total" class="label label-default label-total2">0.00</label>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="table-responsive">
                                <table class="table table-striped table-gris table-bordered mb30">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Unidad</th>
                                            <th>Marca</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody id="tb_detalle"></tbody>
                                </table>
                            </div>
                            <!-- table-responsive -->

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 right">
                            <label class="control-label label-total">Productos</label>
                            <label id="tot-prod" class="label label-default label-total2">0.00</label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 right">
                            <label class="control-label label-total">Total S/.</label>
                            <label id="tot-detalle" class="label label-default label-total2">0.00</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <a class="btn btn-primary btn-reporte" href="#" disabled id="btn-resumen" target="_blank"><i class="fa fa-print"></i> Imprimir Resumen</a>
                <a class="btn btn-warning btn-reporte" href="#" disabled id="btn-detalle" target="_blank"><i class="fa fa-print"></i> Imprimir Detalle</a>

            </div>
            <!-- panel-footer -->
        </div>
    </div>
</div>


<script src="/Scripts/app/reportes.js"></script>

