﻿<div style="text-align:center" class="table">
    <label id="lblOpcion" class="hidden">@ViewBag.Opcion</label>
    <label id="lblFechaIni" class="hidden">@ViewBag.FechaIni</label>
    <label id="lblFechaFin" class="hidden">@ViewBag.FechaFin</label>
    <label id="lblRuc" class="hidden">@ViewBag.Ruc</label>
    <label id="lblIdCabecera" class="hidden">@ViewBag.IdCabecera</label>
    <label id="lblTipo" class="hidden">@ViewBag.Tipo</label>

    <div id="reporte-resumen" style="display:none">

        <label class="label" id="lbl-r-venta" style="display:none">Reporte de Ventas (Resumen)</label>
        <label class="label" id="lbl-r-compra" style="display:none">Reporte de Compras (Resumen)</label>

        <label style="display:block;margin-top:12px">del @ViewBag.FechaIni al @ViewBag.FechaFin  </label>

        <br />

        <table style="width:780px;margin-top: 25px;">
            <thead>
                <tr>
                    <th>Id </th>
                    <th>Tipo </th>
                    <th>Fecha </th>
                    <th>Doc. </th>
                    <th>Ruc / Cliente </th>
                    <th>Cliente </th>
                    <th>Total </th>
                </tr>

            </thead>
            <tbody id="tb_resumen"></tbody>
        </table>
        <br />
        <table style="width:780px">

            <tr style="font-size:1.2em"><td>Total </td><td><label id="total-resumen"></label> </td></tr>

        </table>

    </div>

    <div id="reporte-detalle" style="display:none">

        <label class="label" style="display:none" id="lbl-d-compra">Compra (@ViewBag.idCabecera)</label>
        <label class="label" style="display:none" id="lbl-d-venta">Venta (@ViewBag.idCabecera)</label>

        <br />

        <div style="text-align:left">
            <table style="width:300px;margin-top: 25px;text-align:left">
                <tr>
                    <td style="font-weight:bold">Fecha : </td>
                    <td><label id="lblFechaDet">@ViewBag.Fecha</label></td>
                </tr>

                <tr>
                    <td style="font-weight:bold">Ruc / Dni : </td>
                    <td><label id="lblRucDet">@ViewBag.Ruc</label></td>
                </tr>

                <tr>
                    <td style="font-weight:bold">Cliente : </td>
                    <td><label id="lblClienteDet">@ViewBag.Cliente</label></td>
                </tr>

                <tr>
                    <td style="font-weight: bold">Documento : </td>
                    <td><label id="lblDocumento">@ViewBag.Documento</label></td>
                </tr>

            </table>

        </div>

        <table style="width:780px;margin-top: 25px;">
            <thead>
                <tr>
                    <th>Id </th>
                    <th>Producto</th>
                    <th>Unidad </th>
                    <th>Marca </th>
                    <th>Precio </th>
                    <th>Cantidad </th>
                    <th>Total </th>
                </tr>

            </thead>
            <tbody id="tb_detalle"></tbody>
        </table>
        <br />
        <table style="width:780px">
            <tr style="font-size:1.2em"><td>Total </td><td><label id="total-detalle"></label> </td></tr>
        </table>

    </div>
</div>

<script src="/Scripts/app/reportes-print.js"></script>
