﻿

@model MVC.Models.GrupoProdModel

@{ViewBag.Title = "Usuario";}

<div class="modal fade" id="mUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="title-modal-reg">Nuevo usuario</h4>
            </div>
            <div class="modal-body panel-form">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Dni:</label>
                            <div class="col-sm-9">
                                <input type="text" id="dni" class="form-control" />
                                <input type="hidden" id="cod_usu" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Apellido paterno:</label>
                            <div class="col-sm-9">
                                <input type="text" id="ap_pat" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Apellido materno:</label>
                            <div class="col-sm-9">
                                <input type="text" id="ap_mat" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombres:</label>
                            <div class="col-sm-9">
                                <input type="text" id="nombres" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Clave acceso:</label>
                            <div class="col-sm-9">
                                <input type="password" id="clave" class="form-control" maxlength="12" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Dirección:</label>
                            <div class="col-sm-9">
                                <input type="text" id="dir_usu" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha nacimiento:</label>
                            <div class="col-sm-9">
                                <input type="text" id="fec_nac" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn-registrar">Registrar</button>
            </div>
        </div>
        </div>
    </div>



<div class="mainpanel">
    <div class="pageheader">
        <div class="media pull-left">
            <div class="pageicon pull-left">
                <i class="fa fa-users"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li>Lista de </li>
                </ul>
                <h4>Usuarios</h4>
            </div>

        </div>

        <div class="pull-right">
            <label class="label lbl-empresa">Empresa : <span>@HttpContext.Current.Session["empresa"]</span></label>
        </div>
        <!-- media -->
    </div>
    <!-- pageheader -->

    <div class="contentpanel">

        <div class="panel panel-default panel-form">

            <div class="panel-body">
                @{
                    var licencia = Convert.ToInt32(HttpContext.Current.Session["licencia"]);
                }

                @if(licencia <=0){

                    <h4>Usted no esta autorizado para crear usuarios</h4>
                }else{
                     <div class="row">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 mb15">

                                <div class="form-inline">

                                    <div class="form-group">
                                        @if (ViewBag.totalUsuarios == licencia)
                                        {
                                            <button type="button" class="btn btn-primary" id="btn-usuario-no"><i class="fa fa-plus"></i> Nuevo usuario</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-primary" id="btn-usuario"  data-toggle="modal" data-target="#mUsuario"><i class="fa fa-plus"></i> Nuevo usuario</button>

                                        }
                                     </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                     <div class="row">
                         <div class="col-md-12">
                         <div class="content-table-2">
                            <div class="table-responsive">
                                <table class="table table-center table-gris table-bordered table-striped mb30">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombres</th>
                                            <th>Dni</th>
                                            <th>Tipo usuario</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb_usuario">
                                        @foreach(var usuarios in ViewBag.usuariosList){
                                            <tr>
                                                <td>@usuarios.Cod_Usu</td>
                                                <td>@usuarios.NombreUsuario  @usuarios.Ap_Pat @usuarios.Ap_Mat</td>
                                                <td>@usuarios.Dni</td>
                                                <td>@(usuarios.Tipo == "A" ? "Administrador": "Usuario")</td>
                                                <td>@(usuarios.Estado == "0" ? "Deshabilitado" : "Habilitado")</td>
                                                <td><a href="#" class="editar-user" data-toggle="tooltip" data-placement="rigth" title="Editar usuario"><i class="fa fa-pencil"></i> </a> 
                                                @if (usuarios.Estado == "0")
                                                {
                                                    <a href="#" data-toggle="tooltip" data-placement="rigth" title="Habilitar usuario" class="hab-user"><i class="fa fa-check"></i></a>
                                                }
                                                else
                                                {
                                                    if(usuarios.Tipo == "U"){
                                                         <a href="#" data-toggle="tooltip" data-placement="rigth" title="Deshabilitar usuario" class="des-user"><i class="fa fa-times"></i></a>
                             
                                                    }
                                                }
                                                
                                                </td>
                                                <td style="display:none">@usuarios.Direccion</td>
                                                <td style="display:none">@usuarios.Fecha_Nac.Substring(0, 10)</td>
                                                <td style="display:none">@usuarios.Password</td>
                                                <td style="display:none">@usuarios.NombreUsuario</td>
                                                <td style="display:none">@usuarios.Ap_Pat</td>
                                                <td style="display:none">@usuarios.Ap_Mat</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- table-responsive -->

                    </div>
                    </div>
                }

               

            </div>


        </div>
    </div>
</div>

<script src="/Scripts/app/usuarios.js"></script>


