﻿

<div class="modal fade" id="mRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Registro de empresa</h4>
            </div>
            <div class="modal-body panel-form">
                <div>

                    <form>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#empresa" aria-controls="usuario" role="tab" data-toggle="tab">Empresa</a></li>
                            <li role="presentation"><a href="#usuario" aria-controls="usuario" role="tab" data-toggle="tab">Usuario</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="empresa">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ruc:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="ruc" class="form-control" maxlength="11" />
                                        <input type="hidden" id="codigo_empresa" />
                                    </div>
                                </div>
                                <!-- form-group -->

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Razón social:</label>
                                    <div class="col-sm-9">
                                        <input type="email" id="razon_social" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Rubro comercial:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="rubro">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Departamento:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="departamento"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Provincia:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="provincia">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Distrito:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="distrito">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Dirección:</label>
                                    <div class="col-sm-9">
                                        <input type="email" id="direccion" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Representante legal:</label>
                                    <div class="col-sm-9">
                                        <input type="email" id="rep_legal" class="form-control" />
                                    </div>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="usuario">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Dni:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="dni" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Apellido paterno:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="ap_pat" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Apellido materno:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="ap_mat" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nombres:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="nombres" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Clave acceso:</label>
                                    <div class="col-sm-9">
                                        <input type="password" id="clave" class="form-control" maxlength="12" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Dirección:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="dir_usu" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Fecha nacimiento:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="fec_nac" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn-registrar">Registrar</button>
            </div>
        </div>
    </div>
</div>


<section>

    <div class="panel panel-signin panel-login">
        <div class="panel-body">
            <div class="logo text-center">
                <img src="/Images/logo-primary.png" alt="Chain Logo" />
            </div>
            <br />
            <h4 class="text-center mb5">Ingresar al sistema</h4>

            <div class="mb30"></div>

            <form id="form1">

                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                    <input type="text" maxlength="11" id="TxtRUC"  class="form-control txtLogin" placeholder="Ruc" />
                </div><!-- input-group -->

                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="TxtDNI"  class="form-control txtLogin" placeholder="Dni" />
                </div><!-- input-group -->

                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="TxtClave"  placeholder="Clave" class="form-control txtLogin" MaxLength="12" type="password"/>
                </div><!-- input-group -->

         
                <div class="clearfix">

                    <div class="center">

                        <button type="button" class="btn btn-lg btn-success" id="btn-ingresar">Ingresar<i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </div>
            </form>

        </div><!-- panel-body -->
        <div class="panel-footer">
            <a class="btn btn-primary btn-block" href="#" data-toggle="modal" data-target="#mRegistro"> Registrarse</a>
        </div><!-- panel-footer -->
    </div><!-- panel -->

</section>


     



